.device-card {
    width: 200px;
    height: 260px;
    border: 1px solid var(--nav-color);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: 8fr 3fr 1fr 3fr;
}

.device-card-control {
    display: none;
}


.device-card > * {
    align-self: center;
}

.device-card.device-card:not(.device-card-active) .device-card-image {
    justify-self: center;
}

.device-card-image {
    width: 100px;
    grid-column: 1;
}

.device-card-title {
    font-size: 1.7rem;
    grid-column: 1;
}

.device-card-description {
    grid-column: 1;
}

.device-card-type {
    padding: 3px;
    background-color: rgb(206, 206, 206);
    font-size: 0.8em;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    grid-column: 1;
}

.device-card-button {
    width: 100px;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: none;
    cursor: pointer;
    grid-column: 1;
}

.device-card:not(.device-card-active):hover .device-card-button {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.device-card:not(.device-card-active):hover {
    /* height: 320px; */
    cursor: pointer;
    filter: blur(0px);
    background-color: rgb(230, 230, 230);
    border: none;
    /* transform: scale(1.05); */
}

.device-card:not(.device-card-active):hover > *:not(.device-card-button) {
    filter: blur(3px);
}

.device-card-active {
    /* transition: all 2s ease; */
    /* width: calc(100vw - 80px); */
    margin: 0;
    border: none;
    grid-column: 1 / span 3;
    grid-row: 2 !important;
    width: 600px;
    grid-template-columns: 1fr 1fr;

    /* height: calc(100vh - 160.8px); */
}

.device-card-active > .device-card-control {
    display: block;
    grid-column: 2;
    grid-row: 1 / span 4;
    align-self: flex-start;
}